In [1]:
(1,2,3)[-0]

1

In [2]:
(1,2,3)[-0:0]

()

In [3]:
x=[1,2,3]
x.append(4)
print(x)

[1, 2, 3, 4]

In [4]:
x=(1,2,3)
type(x)

tuple

In [8]:
#x.append(4)
#tuples cant be assign new values once its created
type(x)

tuple

In [25]:
x=(1,2,3) 
x.count(3)

1

In [21]:
x=(1,2,3)
sum(x)

6

In [27]:
type((2,))

tuple

In [28]:
2 + 2

4

In [29]:
"2" + "2"

'22'

In [32]:
#2 + "2"

In [31]:
2 * 2

4

In [34]:
#"2" * "2"

In [35]:
2 * "2"

'22'

In [36]:
"".join([str(i) for i in range(10)])

'0123456789'

In [37]:
"0"+"1"+"2"+"3"+"4"+"5"+"6"+"7"+"8"+"9"

'0123456789'

In [38]:
str(range(10))

'range(0, 10)'

In [41]:
import string 
string.digits

'0123456789'

In [43]:
x = "125,000"
x.isdigit()

False

In [1]:
ids= set()

In [2]:
ids = set([1,2,4,6,7,8,9])
len(ids)

7

In [3]:
ids.add(10)

In [4]:
print(ids)

{1, 2, 4, 6, 7, 8, 9, 10}

In [5]:
ids.add(2)

In [6]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [8]:
ids.pop()

1

In [9]:
ids

{2, 4, 6, 7, 8, 9, 10}

In [83]:
x = set([1,2,3])
y = set([2,3,4])

In [23]:
output = y-x
output

{4}

In [25]:
output = y&x
output

{2, 3}

In [82]:
output = x^y
output

{1, 4}

In [84]:
x = set([1,2,3])
y = set([2,3,4])

In [85]:
x.issubset(y)

False

In [88]:
x in y

False

In [90]:
age = dict()
age = {"Tim":29,"Jim":31,"Pam":27,"Sam":35}

In [92]:
age["Pam"]

27

In [93]:
age["Tim"] +=2

In [94]:
age["Tim"]

31

In [95]:
names = age.keys

In [96]:
names

In [99]:
"Jim" in age

True

In [100]:
age={'Tim':29, 'Jim':31, 'Pam':27, 'Sam':35}

In [101]:
age[0]

KeyError: 0

In [102]:
age.items()

dict_items([('Tim', 29), ('Jim', 31), ('Pam', 27), ('Sam', 35)])