# Using Python for Research Homework: Week 4, Case Study 3

Homophily is a property of networks.  Homophily occurs when nodes that are neighbors in a network also share a characteristic more often than nodes that are not network neighbors.  In this case study, we will investigate homophily of several characteristics of individuals connected in social networks in rural India.

### Exercise 1
In Exercise 1, we will calculate the chance homophily for an arbitrary characteristic. Homophily is the proportion of edges in the network whose constituent nodes share that characteristic.

How much homophily do we expect by chance? If characteristics are distributed completely randomly, the probability that two nodes \(x\) and \(y\) share characteristic \(a\) is the probability both nodes have characteristic \(a\) , which is the marginal probability of \(a\) squared. The total probability that nodes \(x\) and \(y\) share their characteristic is therefore the sum of the square of the marginal probabilities of each characteristic in the network.

<strong>Instructions</strong>
<ul><li>Create a function <code>marginal_prob</code> that takes a dictionary <code>chars</code> with personal IDs as keys and characteristics as values; it should return a dictionary with characteristics as keys and their marginal probability (frequency of occurence of a characteristic divided by the sum of frequencies of each characteristic) as values.</li>
<li>Create a function <code>chance_homophily(chars)</code> that takes a dictionary <code>chars</code> defined as above and computes the chance homophily (homophily due to chance alone) for that characteristic.</li>
<li>A sample of three peoples' favorite colors is given in <code>favorite_colors</code>. Use your function to compute the chance homophily in this group, and store it as <code>color_homophily</code>.</li>
<li>Print <code>color_homophily</code>.</li></ul>

In [1]:
from collections import Counter
import numpy as np

#def marginal_prob(chars):
#    char_dict = []
#    for key, value in chars.items():
#        char_dict[key] = value
        
def chance_homophily(chars):
    chars_counts_dict = Counter(chars.values())
    chars_counts = np.array(list(chars_counts_dict.values()))
    chars_props  = chars_counts / sum(chars_counts)
    return sum(chars_props**2)

favorite_colors = {
    "ankit":  "red",
    "xiaoyu": "blue",
    "mary":   "blue"
}

color_homophily = chance_homophily(favorite_colors)
print(color_homophily)

0.5555555555555556

### Exercise 2

In the remaining exercises, we will calculate actual homophily in these village and compare the obtained values to those obtained by chance. In this exercise, we subset the data into individual villages and store them.

#### Instructions 

- `individual_characteristics.dta` contains several characteristics for each individual in the dataset such as age, religion, and caste. Use the `pandas` library to read in and store these characteristics as a dataframe called `df`.
- Store separate datasets for individuals belonging to Villages 1 and 2 as `df1` and `df2`, respectively.
- Note that some attributes may be missing for some individuals. In this case study, we will ignore rows of data where some column information is missing.
- Use the head method to display the first few entries of `df1`.

In [2]:
import pandas as pd

df  = pd.read_csv("asset-v1_HarvardX+PH526x+2T2019+type@asset+block@individual_characteristics.csv", low_memory=False, index_col=0)
df.head()

,village,adjmatrix_key,pid,hhid,resp_id,resp_gend,resp_status,age,religion,caste,...,privategovt,work_outside,work_outside_freq,shgparticipate,shg_no,savings,savings_no,electioncard,rationcard,rationcard_colour
0,1,5,100201,1002,1,1,Head of Household,38,HINDUISM,OBC,...,PRIVATE BUSINESS,Yes,0.0,No,NaN,No,NaN,Yes,Yes,GREEN
1,1,6,100202,1002,2,2,Spouse of Head of Household,27,HINDUISM,OBC,...,NaN,NaN,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
2,1,23,100601,1006,1,1,Head of Household,29,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
3,1,24,100602,1006,2,2,Spouse of Head of Household,24,HINDUISM,OBC,...,PRIVATE BUSINESS,No,NaN,Yes,1.0,Yes,1.0,Yes,No,NaN
4,1,27,100701,1007,1,1,Head of Household,58,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN

In [3]:
df1 = df.loc[df['village']==1]
df2 = df.loc[df['village']==2]

df1.head()

,village,adjmatrix_key,pid,hhid,resp_id,resp_gend,resp_status,age,religion,caste,...,privategovt,work_outside,work_outside_freq,shgparticipate,shg_no,savings,savings_no,electioncard,rationcard,rationcard_colour
0,1,5,100201,1002,1,1,Head of Household,38,HINDUISM,OBC,...,PRIVATE BUSINESS,Yes,0.0,No,NaN,No,NaN,Yes,Yes,GREEN
1,1,6,100202,1002,2,2,Spouse of Head of Household,27,HINDUISM,OBC,...,NaN,NaN,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
2,1,23,100601,1006,1,1,Head of Household,29,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN
3,1,24,100602,1006,2,2,Spouse of Head of Household,24,HINDUISM,OBC,...,PRIVATE BUSINESS,No,NaN,Yes,1.0,Yes,1.0,Yes,No,NaN
4,1,27,100701,1007,1,1,Head of Household,58,HINDUISM,OBC,...,OTHER LAND,No,NaN,No,NaN,No,NaN,Yes,Yes,GREEN

In [4]:
df2.columns

Index(['village', 'adjmatrix_key', 'pid', 'hhid', 'resp_id', 'resp_gend',
       'resp_status', 'age', 'religion', 'caste', 'subcaste', 'mothertongue',
       'speakother', 'kannada', 'tamil', 'telugu', 'hindi', 'urdu', 'english',
       'otherlang', 'educ', 'villagenative', 'native_name', 'native_type',
       'native_taluk', 'native_district', 'res_time_yrs', 'res_time_mths',
       'movereason', 'movecontact', 'movecontact_res', 'movecontact_hhid',
       'movecontact_pid', 'movecontact_name', 'workflag', 'work_freq',
       'work_freq_type', 'occupation', 'privategovt', 'work_outside',
       'work_outside_freq', 'shgparticipate', 'shg_no', 'savings',
       'savings_no', 'electioncard', 'rationcard', 'rationcard_colour'],
      dtype='object')

In [5]:
print(df1[['pid','resp_gend']].set_index('pid').T.to_dict('records'))

[{102401: 1, 102402: 2, 106501: 1, 106502: 1, 106503: 2, 104902: 2, 110601: 1, 110602: 2, 115202: 2, 114702: 2, 114703: 2, 115201: 1, 117301: 1, 104001: 1, 104002: 2, 108101: 1, 108102: 2, 115809: 2, 108104: 2, 112201: 1, 112202: 2, 103501: 1, 103502: 2, 114701: 1, 116304: 2, 116307: 1, 116308: 2, 116310: 1, 116311: 2, 115801: 1, 115802: 1, 115803: 2, 107101: 1, 107102: 2, 115807: 1, 115808: 2, 111201: 2, 111203: 2, 111204: 2, 111205: 1, 102001: 1, 102002: 2, 102004: 2, 108905: 1, 100202: 2, 114302: 1, 114303: 2, 113601: 1, 109701: 1, 109702: 2, 100801: 1, 113602: 2, 117101: 1, 109201: 1, 109202: 2, 113301: 1, 113302: 2, 117403: 2, 117404: 1, 104901: 1, 112801: 1, 112802: 2, 104101: 1, 104102: 2, 114801: 1, 116905: 2, 114802: 2, 111901: 1, 116401: 1, 116402: 2, 116501: 1, 103101: 1, 103102: 2, 103104: 2, 103105: 2, 106701: 1, 106702: 2, 106704: 2, 116502: 2, 102101: 1, 102102: 2, 102103: 1, 102104: 2, 106201: 1, 106202: 2, 106204: 1, 110301: 1, 110302: 2, 101601: 1, 101602: 2, 113901: 1, 113902: 2, 114301: 2, 105201: 1, 113401: 2, 100602: 2, 108801: 1, 108802: 2, 108803: 1, 108804: 2, 104201: 1, 104202: 2, 108301: 1, 108302: 2, 108304: 2, 103701: 1, 103702: 2, 107802: 2, 107803: 2, 107805: 1, 111902: 2, 111903: 1, 111904: 2, 103201: 1, 103202: 2, 107301: 1, 107302: 2, 107303: 1, 107304: 2, 107307: 1, 107308: 2, 115501: 1, 115502: 2, 106205: 2, 115504: 2, 106801: 1, 106802: 2, 116602: 2, 117102: 2, 105802: 2, 109901: 1, 109902: 2, 114001: 1, 114002: 2, 105301: 1, 105302: 2, 105303: 1, 105304: 2, 109401: 1, 109402: 2, 100701: 1, 100702: 2, 104801: 1, 104802: 2, 108901: 1, 108902: 2, 100201: 1, 108906: 2, 104301: 1, 104302: 2, 117103: 2, 117105: 1, 116601: 1, 116303: 1, 107901: 1, 103301: 1, 103302: 2, 107401: 1, 107402: 2, 111501: 1, 111502: 2, 115601: 1, 115503: 1, 110501: 1, 110502: 2, 114601: 1, 114602: 2, 105901: 1, 105902: 2, 100802: 2, 101301: 2, 101302: 2, 101303: 2, 105401: 1, 105402: 2, 105404: 2, 109501: 1, 109502: 2, 109505: 1, 109506: 2, 100805: 2, 100806: 1, 100807: 1, 100808: 2, 116301: 1, 117201: 1, 117202: 2, 117203: 2, 116302: 2, 100601: 1, 112601: 1, 112603: 2, 112604: 2, 112605: 1, 116901: 1, 116902: 2, 116201: 2, 116202: 1, 116203: 2, 116206: 1, 116207: 2, 102901: 1, 102902: 2}]

### Exercise 3 

In this exercise, we define a few dictionaries that enable us to look up the sex, caste, and religion of members of each village by personal ID. For Villages 1 and 2, their personal IDs are stored as `pid`.

#### Instructions 
- Define dictionaries with personal IDs as keys and a given covariate for that individual as values. Complete this for the sex, caste, and religion covariates, for Villages 1 and 2.
- For Village 1, store these dictionaries into variables named `sex1`, `caste1`, and `religion1`.
- For Village 2, store these dictionaries into variables named `sex2`, `caste2`, and `religion2`.

In [117]:
#.set_index('pid').T.to_dict('index') 
sex1      = df1.set_index('pid')['resp_gend'].to_dict()
caste1    = df1.set_index('pid')['caste'].to_dict() 
religion1 = df1.set_index('pid')['religion'].to_dict() 

sex2      = df2.set_index('pid')['resp_gend'].to_dict() 
caste2    = df2.set_index('pid')['caste'].to_dict() 
religion2 = df2.set_index('pid')['religion'].to_dict()

In [118]:
sex1

{100201: 1,
 100202: 2,
 100601: 1,
 100602: 2,
 100701: 1,
 100702: 2,
 100801: 1,
 100802: 2,
 100805: 2,
 100806: 1,
 100807: 1,
 100808: 2,
 101301: 2,
 101302: 2,
 101303: 2,
 101601: 1,
 101602: 2,
 102001: 1,
 102002: 2,
 102004: 2,
 102101: 1,
 102102: 2,
 102103: 1,
 102104: 2,
 102401: 1,
 102402: 2,
 102901: 1,
 102902: 2,
 103101: 1,
 103102: 2,
 103104: 2,
 103105: 2,
 103201: 1,
 103202: 2,
 103301: 1,
 103302: 2,
 103501: 1,
 103502: 2,
 103701: 1,
 103702: 2,
 104001: 1,
 104002: 2,
 104101: 1,
 104102: 2,
 104201: 1,
 104202: 2,
 104301: 1,
 104302: 2,
 104801: 1,
 104802: 2,
 104901: 1,
 104902: 2,
 105201: 1,
 105301: 1,
 105302: 2,
 105303: 1,
 105304: 2,
 105401: 1,
 105402: 2,
 105404: 2,
 105802: 2,
 105901: 1,
 105902: 2,
 106201: 1,
 106202: 2,
 106204: 1,
 106205: 2,
 106501: 1,
 106502: 1,
 106503: 2,
 106701: 1,
 106702: 2,
 106704: 2,
 106801: 1,
 106802: 2,
 107101: 1,
 107102: 2,
 107301: 1,
 107302: 2,
 107303: 1,
 107304: 2,
 107307: 1,
 107308: 2,
 107401: 1,
 107402: 2,
 107802: 2,
 107803: 2,
 107805: 1,
 107901: 1,
 108101: 1,
 108102: 2,
 108104: 2,
 108301: 1,
 108302: 2,
 108304: 2,
 108801: 1,
 108802: 2,
 108803: 1,
 108804: 2,
 108901: 1,
 108902: 2,
 108905: 1,
 108906: 2,
 109201: 1,
 109202: 2,
 109401: 1,
 109402: 2,
 109501: 1,
 109502: 2,
 109505: 1,
 109506: 2,
 109701: 1,
 109702: 2,
 109901: 1,
 109902: 2,
 110301: 1,
 110302: 2,
 110501: 1,
 110502: 2,
 110601: 1,
 110602: 2,
 111201: 2,
 111203: 2,
 111204: 2,
 111205: 1,
 111501: 1,
 111502: 2,
 111901: 1,
 111902: 2,
 111903: 1,
 111904: 2,
 112201: 1,
 112202: 2,
 112601: 1,
 112603: 2,
 112604: 2,
 112605: 1,
 112801: 1,
 112802: 2,
 113301: 1,
 113302: 2,
 113401: 2,
 113601: 1,
 113602: 2,
 113901: 1,
 113902: 2,
 114001: 1,
 114002: 2,
 114301: 2,
 114302: 1,
 114303: 2,
 114601: 1,
 114602: 2,
 114701: 1,
 114702: 2,
 114703: 2,
 114801: 1,
 114802: 2,
 115201: 1,
 115202: 2,
 115501: 1,
 115502: 2,
 115503: 1,
 115504: 2,
 115601: 1,
 115801: 1,
 115802: 1,
 115803: 2,
 115807: 1,
 115808: 2,
 115809: 2,
 116201: 2,
 116202: 1,
 116203: 2,
 116206: 1,
 116207: 2,
 116301: 1,
 116302: 2,
 116303: 1,
 116304: 2,
 116307: 1,
 116308: 2,
 116310: 1,
 116311: 2,
 116401: 1,
 116402: 2,
 116501: 1,
 116502: 2,
 116601: 1,
 116602: 2,
 116901: 1,
 116902: 2,
 116905: 2,
 117101: 1,
 117102: 2,
 117103: 2,
 117105: 1,
 117201: 1,
 117202: 2,
 117203: 2,
 117301: 1,
 117403: 2,
 117404: 1}

### Exercise 4

In this exercise, we will print the chance homophily of several characteristics of Villages 1 and 2. 

#### Instructions 
-  Use `chance_homophily` to compute the chance homophily for sex, caste, and religion In Villages 1 and 2. Is the chance homophily for any attribute very high for either village?

In [115]:
print(chance_homophily(sex1))

0.5027299861680701

In [119]:
print(chance_homophily(caste1))

0.6741488509791551

In [120]:
print(chance_homophily(religion1))

0.9804896988521925

In [121]:
print(chance_homophily(sex2))

0.5005945303210464

In [122]:
print(chance_homophily(caste2))

0.425368244800893

In [123]:
print(chance_homophily(religion2))

1.0

### Exercise 5

In this exercise, we will create a function that computes the observed homophily given a village and characteristic.

#### Instructions 
- Complete the function `homophily()`, which takes a network `G`, a dictionary of node characteristics `chars`, and node IDs `IDs`. For each node pair, determine whether a tie exists between them, as well as whether they share a characteristic. The total count of these is `num_ties` and `num_same_ties`, respectively, and their ratio is the homophily of chars in `G`. Complete the function by choosing where to increment `num_same_ties` and `num_ties`.

In [133]:
def homophily(G, chars, IDs):
    """
    Given a network G, a dict of characteristics chars for node IDs,
    and dict of node IDs for each node in the network,
    find the homophily of the network.
    """
    num_same_ties = 0
    num_ties = 0
    for n1, n2 in G.edges():
        if IDs[n1] in chars and IDs[n2] in chars:
            if G.has_edge(n1, n2):
                num_ties += 1 # Should `num_ties` be incremented?  What about `num_same_ties`?
                if chars[IDs[n1]] == chars[IDs[n2]]:
                    num_same_ties += 1 # Should `num_ties` be incremented?  What about `num_same_ties`?
    return (num_same_ties / num_ties)

### Exercise 6

In this exercise, we will obtain the personal IDs for Villages 1 and 2. These will be used in the next exercise to calculate homophily for these villages.

#### Instructions 
- In this dataset, each individual has a personal ID, or PID, stored in `key_vilno_1.csv` and `key_vilno_2.csv` for villages 1 and 2, respectively. `data_filepath1` and `data_filepath2` contain the URLs to the datasets used in this exercise. Use `pd.read_csv` to read in and store `key_vilno_1.csv` and `key_vilno_2.csv` as `pid1` and `pid2` respectively.

In [124]:
data_filepath1 = "asset-v1_HarvardX+PH526x+2T2019+type@asset+block@key_vilno_1.csv"
pid1  = pd.read_csv(data_filepath1, low_memory=False, index_col=0)
pid1.head()

        0
0  100101
1  100102
2  100103
3  100104
4  100201

In [126]:
data_filepath2 = "asset-v1_HarvardX+PH526x+2T2019+type@asset+block@key_vilno_2.csv"
pid2  = pd.read_csv(data_filepath2, low_memory=False, index_col=0)
pid2.head()

        0
0  200101
1  200102
2  200103
3  200104
4  200105

In [132]:
pid1[100:101]

          0
100  102205

### Exercise 7

In this exercise, we will compute the homophily of several network characteristics for Villages 1 and 2 and compare them to homophily due to chance alone. The networks for these villages have been stored as networkx graph objects `G1` and `G2`.

#### Instructions 

- Use your `homophily()` function to compute the observed homophily for sex, caste, and religion in Villages 1 and 2. Print all six values.
- Use the `chance_homophily()` to compare these values to chance homophily. Are these values higher or lower than that expected by chance?

In [135]:
import networkx as nx
A1 = np.array(pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@adj_allVillageRelationships_vilno1.csv", index_col=0))
A2 = np.array(pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@adj_allVillageRelationships_vilno2.csv", index_col=0))
G1 = nx.to_networkx_graph(A1)
G2 = nx.to_networkx_graph(A2)

pid1 = pd.read_csv(data_filepath1, dtype=int)['0'].to_dict()
pid2 = pd.read_csv(data_filepath2, dtype=int)['0'].to_dict()

In [136]:
print(homophily(G1,sex1,pid1))
print(homophily(G1,caste1,pid1))
print(homophily(G1,religion1,pid1))
print(homophily(G2,sex2,pid2))
print(homophily(G2,caste2,pid2))
print(homophily(G2,religion2,pid2))

0.5908629441624366
0.7959390862944162
0.9908629441624366
0.5658073270013568
0.8276797829036635
1.0